
.custom_input{
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #FEFEFE;
    height: 58px;
    color: #5F5F5F;
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mt-108{
    margin-top: 108px;
}
.mt-32{
    margin-top: 32px;
}
h1{
    color: #000638;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
p{
    color: #605C59;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.badge_custom{
    width: auto;
    min-width: 150px;
    border-radius: 3px;
    background: #283A61;
    padding: 5px 17px;
    color: white;
    margin-left: 12px;
}
img{
    padding: 0px;
}
.blog_img_custom{
    width: 510px;
    height: 278px;
    object-fit: cover;
    background-position: center;
}
.blog_wrapper{
   border-right: 1px solid #DDD;
}